<h1><%= current_user.first_name %> You have a few choices:</h1>

<% @users.each do  |t| %>
	<% if Geocoder::Calculations.distance_between([t.latitude, t.longitude], [current_user.latitude, current_user.longitude]) < 50 %>

		<h1 style ='color:green'>Less than 50 miles</h1>
	<% elsif Geocoder::Calculations.distance_between([t.latitude, t.longitude], [current_user.latitude, current_user.longitude]).between?(50,100)  %>

		<h1>If you like driving:</h1>
	<%elsif Geocoder::Calculations.distance_between([t.latitude, t.longitude], [current_user.latitude, current_user.longitude]) >100 %>
		<h1 style ='color:red'> You might consider looking for someone a little closer.</h1>

	<% end %>
	<h2>distance from your address to <%=t.first_name%> <%=t.last_name%>: <%=Geocoder::Calculations.distance_between([t.latitude, t.longitude], [current_user.latitude, current_user.longitude])%> miles. Aproximately.</h2>
<% end %>